body.menuopen {
	overflow: visible;
}
h1, h2 {
	font-size: 40px;
}
.menuopen header {
	position: sticky;
	height: auto;
}
#headerpromo {
	justify-content: center;
	gap: 80px;
}
#headerpromoclose {
}
#menubutton {
	display: none;
}
#headerwrapper {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0px auto;
	padding: 20px 40px;
	overflow: visible;
}
header .logo {
	width: auto;
	padding: 0px;
}
.homehero .ctarow a.fundedbtn {
	font-size: 22px;
}
header #topmenu {
	display: flex;
	padding: 0px;
}
header #topmenu > ul {
	flex-direction: row;
	gap: 24px;
	padding: 0px 20px;
}
header #topmenu > ul li {
	width: auto;
}
header #topmenu > ul li > ul {
	display: none;
}
header #topmenu .navmain.active {
	background-position: center 18px;
	background-size: 80px 30px;
}
header #topmenu .subpage {
	position: relative;
}
header #topmenu .active .subpages, header #topmenu .active .subpages {
	display: block;
}
header #topmenu .subpage:hover .subpages {
	display: block;
}
header #topmenu .subpages {
	position: absolute;
	width: 220px;
	margin-left: -46px;
	padding: 20px 12px;
	background: linear-gradient(to bottom, var(--transparency-05), var(--transparency-10));
	border-radius: 12px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}
header #topmenu .subpages li {
	padding-bottom: 4px;
}
header #topmenu .subpages li a {
	justify-content: left;
	padding: 10px;
	color: var(--primary-10);
}
header #topmenu .subpages li a:hover, header #topmenu .subpages li a.active {

	background: var(--transparency-10);
	border-radius: 9px;
}
header #topmenu .subpage.active > span::after {
	margin-bottom: 3px;
	transform: rotate(45deg);
}
header #topmenu .subpage:hover > span::after {
	margin-bottom: -6px;
	transform: rotate(225deg);
}
header .headeractions {
	display: flex;
	gap: 20px;
}
.menuopen header .headeractions {
	flex-direction: row;
	padding: 0px;
}
.menuopen header .headeractions a {
	width: unset;
	background: unset;
	color: var(--primary-70);
}
header .headeractions a.cta {
	order: 0;
	width: 130px;
	color: var(--primary-100);
	background-color: var(--primary-10);
}
footer {
	max-width: 1392px;
	margin: 16px auto;
}
#footerwrapper {
	display: flex;
	justify-content: space-between;
	padding: 24px 0px;
}
#footerwrapper .logo {
	padding: 0px 24px;
	text-align: left;
}
#footerwrapper .footerlogo {
	width: 280px;
}
#footerwrapper .logo h3 {
	width: 220px;
	margin: 26px 0px;
	letter-spacing: 0px;
}
.footerlinks {
	gap: 30px;
	max-width: 780px;
}
.footercol {
	flex: 1 1 160px;
	text-align: left;
}
.sociallinks ul {
	padding-top: 36px;
}
.footerctawrapper {
	flex-direction: row;
	max-width: 1440px;
	margin: 0px auto;
	padding: 20px 40px;
}
.ctagetfundedwhite {
	width: 240px;
}
.pagetext {
	max-width: 1300px;
	margin: 0px auto;
	margin-bottom: 36px;
	padding: 0px 12px;	
	padding-bottom: 36px;
}
.pagetext img {
	width: 50%;
}
.homehero {
	display: flex;
	align-items: center;
	max-width: 1300px;
	margin: 0px auto;
	padding: 48px 12px;
	padding-bottom: 112px;
}
.homehero .wrapper {
	flex-grow: 1;
	min-width: 50%;
}
.homehero h1 {
	margin: 12px 0px;
	font-size: 48px;
	line-height: 52px;
	text-align: left;
}
.homehero .subheader {
	max-width: 600px;
	padding: 12px 0px;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}
.homehero .producttypes {
	justify-content: left;
}
.homehero .producttypes a {
	font-size: 16px;
}
.homehero .producttypes a::before {
	width: 24px;
	height: 24px;
}
.homehero .ctarow {
	gap: 24px;
	justify-content: left;
	margin-top: 24px;
}
.homehero .ctarow a {
	height: 63px;
	max-width: 240px;
	font-size: 18px;
}
a.fundedbtn {
	font-size: 20px;
}
.comparison ul li {
	padding: 0px 20px;
}


#latestupdate {
	margin-bottom: 36px;
}
.latestupdate {
	flex-direction: row;
	gap: 24px;
	padding: 24px;
	text-align: left;
}
.latestupdate img {
	display: block;
	width: 137px;
}
.latestupdate .wrapper {
	flex-grow: 1;
}
.latestupdate h2 {
	flex-direction: row;
	gap: 8px;
	width: 100%;
	margin: 12px 0px;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}
.latestupdate h2 .dash {
	display: inline;
}
.latestupdate p {
	margin-top: 12px;
	font-size: 14px;
	line-height: 18px;
}
.latestupdate .ctarow {
	width: 240px;
	margin-left: 50px;
	margin-right: 16px;
}
.latestupdate .pretitle {
	font-size: 14px;
}

#realpayouts {
	margin-bottom: 48px;
}
#realpayouts > p {
	flex-direction: row;
	gap: 8px;
	padding-top: 2px;
	font-size: 18px;
}
.payoutsscroll {
	height: 144px;
	margin: 12px 0px;
}
.payoutsscroll .payouttrack {
	gap: 12px;
}
.payoutsscroll .payouttrack > div {
	height: 144px;
	min-width: 336px;
	padding: 8px;
}
.payoutsscroll .amount {
	font-size: 32px;
}
.payoutsscroll .name {
	font-size: 18px;
}
.payoutsscroll .payouttrack > div > div {
	padding: 13px;
}
.payoutsscroll .payouttrack > div > div img {
	height: 24px;
	width: 24px;
}

#firstpayout {
	margin-bottom: 48px;
}
.firstpayout {
	display: flex;
	gap: 40px;
}
.firstpayout > div {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
}
.firstpayout > div > div {
	flex-basis: 100%;
}
.firstpayout .ctarow {
	margin-top: 40px;
	margin-left: 0px;
}
.firstpayout .fundedbtn {
	width: 224px;
	height: 63px;
	margin-left: 0px;
}
.firstpayout .videobox {
	align-self: center;
}

.interviewbox {
	padding: 70px 50px;
}
.interviewbox .intervienav {
	gap: 12px;
	margin-top: 18px;
	padding: 12px 18px;
	font-size: 24px;
}
.interviewbox .intervienav .pointer {
	width: 16px;
	height: 16px;
}
.interviewbox .fundedbtn {
	margin: 12px 18px;;
}
.interviewcard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
}
.interviewcard > div {
	flex: 1 1 50%;
}
.interviewcard .textwrapper {
	padding-left: 15px;
}
.interviewbox .name {
	justify-content: left;
	margin: 12px 0px;
	text-align: left;
}
.interviewbox .text {
	font-size: 40px;
	line-height: 50px;
	text-align: left;
}
.interviewbox .videobox {
	width: 480px;
	margin: 10px;
}

.youtubelinkbox {
	margin: 50px auto;
	padding-bottom: 40px;
}
.youtubebtn {
	height: 56px;
	width: 350px;
}

#tradingplatforms {
	margin-bottom: 24px;
}
.tradingplatforms {
	flex-direction: row;
	gap: 24px;
	margin-top: 48px;
}
.tradingplatforms > div { 
	height: 280px;
}
.tradingplatforms img {
	width: 185px;
}
.tradingplatforms p {
	width: 260px;
}
.tradingplatforms .platformmt5 {
	background: url('../img/bg-platforms-mt5.webp') no-repeat bottom right / 240px auto, url('../img/bg-platforms-grid.webp') no-repeat center right / cover;
	background-color: var(--secondary-00);
}
.tradingplatforms .platformtradelocker {
	background: url('../img/bg-platforms-tradelocker.webp') no-repeat bottom right / 240px auto, url('../img/bg-platforms-grid.webp') no-repeat center right / cover;
	background-color: var(--secondary-00);
}

.phasecards {
	flex-direction: column;
	height: auto;
	overflow: visible;
}
.phasecards > div {
	display: flex;
	flex-direction: row;
	gap: 12px;
	width: 100%;
	padding: 66px 55px;
}
.phasecards > div > div{
	flex: 1 1 70%;
}
.phasecards img {
	height: 400px;
	width: auto;
}
.phasecards h3 {
	font-size: 48px;
}
.phasecards p {
	font-size: 16px;
}
.phasecards .cta {
	height: 55px;
	margin-top: 50px;
	font-size: 18px;
}

.calculatebox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
	padding: 48px;
}
.calculatebox > div {
	flex: 0 0 50%;
}
.calculatebox h2 {
	font-size: 48px;
}
.calculatebox .calculator {
	max-width: 468px;
}
.calculatebox .fundedbtn {
	width: 325px;
	margin-left: 0px;
}

.blueprintbox {
	display: flex;
	margin-bottom: 24px;
	text-align: left;
}
.blueprintbox .boxwrapper {
	padding: 40px;
}
.blueprintbox .logo img {
	margin: 10px 0px;;
}
.blueprintbox .boxwrapper h2 {
	font-size: 38px;
	text-align: left;
}
.featurewrapperbox {
	gap: 24px;
}
.featurewrapperbox ul {
	font-size: 16px;
}
.featurewrapperbox .featurebox h3 {
	margin-left: 28px;
}
.featurewrapperbox ul li::before {
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
}
.contactoptions .contactdiscord {
	height: auto;
}
.contactoptions .contactsupport .ctarow {
	display: flex;
	gap: 24px;
}
.contactoptions .contactsupport a {
	width: fit-content;
}

#challengetypes {
	margin-bottom: 24px;
}
.products {
	width: 100%;
	padding-bottom: 15px;
	scrollbar-width: auto;
	-ms-overflow-style: auto;
	overflow-x: auto;
}
.products .product.suggested {
	order: unset;
}
.products::-webkit-scrollbar {
	display: block;
	height: 8px;
}
.products::-webkit-scrollbar-track {
	background: var(--transparency-90);
	border-radius: 10px;
}
.products::-webkit-scrollbar-thumb {
	background: var(--secondary-100);
	border-radius: 10px;
}
.products::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-100);
}
.productscroll .labels {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: fit-content;
	margin-top: 143px;
	padding-top: 0px;
	padding-bottom: 36px;
	padding-left: 16px;
	padding-right: 2px;
	background: var(--primary-45);
	border: 1px solid var(--primary-30);
	border-right: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 16px;
	letter-spacing: -1px;
}
.productscroll .labels .rulelabels {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	list-style: none;
	gap: 15px;
	margin: 0px;
	padding: 14px 0px;
	border-top: 1px solid transparent;
	line-height: 16px;
}
.products .product {
	width: 220px;
}
.productscroll .rulelabels li {
	height: 20px;
}
.products .product .rulelabels {
	gap: 15px;
	padding: 13px 0px;
	padding-left: 12px;
}
.products .product .rulelabels li .value {
	flex-direction: row;
	gap: 10px;
	text-align: left;
}
.products .product .rulelabels li .label {
	display: none;
}
.products .product .heading {
	height: 110px;
}
.products .product.suggested::before {
	left: 60px;
}
.products2 .product .rulelabels li .value .subtext {
	color: var(--primary-10);
	font-size: 16px;
}
.products .product .price {
	order: 1;
	padding: 14px 0px;
	border-top: 1px solid var(--transparency-10);
}
.products .product .price .subtext {
	display: none;
}
.products .product .price .fundedbtn {
	order: 1;
	height: 62px;
	margin-top: 10px;
}
.products .product .reward {
	order: 2;
}
.firstchallenge {
	flex-direction: row;
	gap: 48px;
	padding: 52px;
	padding-bottom: 0px;
}
.firstchallenge > div {
	flex-grow: 1;
	width: 500px;
	padding-bottom: 60px;
}
.firstchallenge img {
	display: block;
	width: 320px;
	margin: 0px auto;
	margin-top: 20px;
}
.firstchallenge h2 {
	font-size: 48px;
	text-align: left;
}
.firstchallenge p {
	text-align: left;
}
.firstchallenge h2 .dash {
	display: inline;
}
.firstchallenge .promobox {
	display: inline-flex;
	width: 250px;
}
.firstchallenge .fundedbtn {
	display: inline-flex;
	height: 55px;
	margin-left: 14px;
	padding: 0px 22px;
}