:root {
  --primary-10: #fff;
  --primary-20: #1c1c1c;
  --primary-30: #363636;
  --primary-35: #3d3d3d;
  --primary-40: #171717;
  --primary-45: #191919;
  --primary-50: #222;
  --primary-60: #e1e1e1;
  --primary-65: #cfcfcf;
  --primary-70: #868686;
  --primary-80: #252525;
  --primary-90: #191919;
  --primary-95: #0f0f0f;
  --primary-100: #0d0d0d;
  --secondary-00: #11221a;
  --secondary-10: #baeed0;
  --secondary-80: #1dd887;
  --secondary-90: #24d180;
  --secondary-100: #34dc8e;
  --transparency-00: #fff0;
  --transparency-05: #ffffff0d;
  --transparency-10: #ffffff1a;
  --transparency-15: #ffffffb3;
  --transparency-25: #ffffff40;
  --transparency-50: #ffffff80;
  --transparency-55: #fffd;
  --transparency-60: #34dc8e1a;
  --transparency-80: #34dc8e50;
  --transparency-90: #34dc8e1a;
  --transparency-100: #0000004d;
  --color-success: #34c759;
  --color-success-20: #34c75933;
  --color-error: #ff6d47;
  --color-error-20: #ff6d4733;
  --border: 1px solid #191919;
  --font-title: Inter, sans-serif;
  --font-text: Inter, sans-serif;
  --scrollbar-padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--transparency-05);
  scroll-behavior: smooth;
}
body {
  padding-bottom: 24px;
  padding-right: var(--scrollbar-padding);
  color: var(--primary-10);
  background: var(--primary-100);
  font-family: var(--font-text);
  font-size: 16px;
}
body.menuopen {
  overflow: hidden;
}
a {
  color: var(--secondary-100);
}
a:hover {
  color: var(--secondary-100);
}
ul {
  list-style: none;
}
hr {
  height: 1px;
  border: 0;
  background-color: var(--primary-30);
}
h1 {
  margin: 12px auto;
  font-family: var(--font-title);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}
h2 {
  margin: 12px auto;
  font-family: var(--font-title);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}
h3 {
  margin: 20px auto;
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -.6px;
}
h4 {
  margin: 12px auto;
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.6px;
}
.nowrap {
  white-space: nowrap;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: var(--primary-100);
  z-index: 999;
}
.menuopen header {
  position: fixed;
  height: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 16px;
}
header .logo img {
  width: 190px;
  height: auto;
}
#headerpromo {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 12px 16px;
  color: var(--primary-100);
  background-color: var(--secondary-100);
  text-align: left;
  line-height: 18px;
  letter-spacing: -.3px;
}
#headerpromo a {
  color: var(--primary-100);
}
#headerpromo.show {
  display: flex;
}
#headerpromoclose {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
#headerwrapper {
  display: flex;
  flex-direction: column;
  height: stretch;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#headerwrapper::-webkit-scrollbar {
	display: none;
}
#menubutton {
  width: 28px;
  height: 28px;
  margin-right: 0;
  background: transparent;
  background-image: url('../img/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.menuopen #menubutton {
  background-image: url('../img/icon-menu-close.svg');
}
#menubutton:hover {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}
header #topmenu {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.menuopen header #topmenu {
  display: flex;
}
header #topmenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
  font-size: 14px;
  letter-spacing: -.5px;
}
header #topmenu ul li {
  width: 100%;
}
header #topmenu > ul {
  background: var(--transparency-05);
  border: 1px solid var(--transparency-10);
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 var(--transparency-05);
}
header #topmenu .navmain {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  color: var(--primary-70);
  cursor: pointer;
}
header #topmenu .navmain.active {
  color: var(--primary-10);
  background-image: url('../img/bg-nav-selected.webp');
  background-repeat: no-repeat;
  background-position: center 12px;
  background-size: 160px 40px;
}
header #topmenu .navmain:hover {
  color: var(--primary-10);
}
header #topmenu > ul li > ul {
  gap: 4px;
  padding-top: 0;
}
header #topmenu .subpage > span::after {
	content: ' ';
	display: inline-flex;
	height: 6px;
	width: 6px;
	margin-left: 12px;
	margin-bottom: 3px;
	transform: rotate(45deg);
	border: 1px solid var(--primary-70);
	border-width: 0 2px 2px 0;
}
header #topmenu .subpage.active > span::after {
	margin-bottom: -6px;
	transform: rotate(225deg);
}
header #topmenu .subpages {
	display: none;
}
header #topmenu .active .subpages {
	display: block;
}
header #topmenu .navsub {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 34px;
  color: var(--primary-70);
  cursor: pointer;
}
header #topmenu .navsub.active, header #topmenu .navsub:hover {
	color: var(--primary-10);
}
.navhome::before {
  content: '';
  display: block;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url('../img/icon-nav-home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .headeractions {
  display: none;
}
header .headeractions a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-70);
  font-size: 14px;
}
header .headeractions a.cta {
  width: 130px;
  height: 42px;
  color: var(--primary-100);
  background-color: var(--primary-10);
  border-radius: 26px;
  font-weight: 600;
  letter-spacing: -.5px;
}
.menuopen header .headeractions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
  padding: 24px;
}
.menuopen header .headeractions a {
  width: 100%;
  height: 42px;
  background-color: var(--primary-30);
  border-radius: 26px;
}
header .headeractions a.cta {
  order: -1;
  background-color: var(--primary-10);
}
footer {
  margin: 16px 24px;
  padding: 8px;
  border: var(--border);
  border-radius: 24px;
}
#footerwrapper {
  width: 100%;
}
#footerwrapper .logo {
  padding: 24px;
  text-align: center;
}
#footerwrapper .footerlogo {
  width: 186px;
  height: auto;
}
#footerwrapper .logo h3 {
  width: 200px;
  margin: 12px auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1px;
}
.footerlinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footercol {
  flex: 1 1 250px;
  text-align: center;
}
.footercol ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.footercol h3 {
  margin-bottom: 16px;
  color: var(--primary-70);
  font-size: 16px;
  font-weight: 400;
}
.footercol ul a {
  color: var(--primary-10);
  font-weight: 500;
}
.footercol ul a:hover {
  color: var(--primary-60);
}
.footerdisclaimer {
  padding: 12px;
  color: var(--primary-70);
  background-color: var(--primary-90);
  border-radius: 16px;
  font-size: 14px;
  line-height: 16px;
}
.footerdisclaimer p {
  padding: 6px 0;
}
.footerdisclaimer h4 {
  margin-top: 12px;
}
.footerdisclaimer a {
  color: var(--primary-70);
}
.footercopyright {
  text-align: center;
  padding: 24px;
  color: var(--primary-70);
  font-size: 14px;
  letter-spacing: -1px;
}
.footercopyright a {
  color: var(--primary-70);
}
.footercta {
  background: url('../img/bg-footer-cta-mobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.footerctawrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 30px 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -.03px;
}
.footercta .ctacheck {
  display: inline-flex;
  align-items: center;
}
.footercta .ctacheck::before {
  display: inline-flex;
  content: ' ';
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: url('../img/icon-check.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ctagetfundedwhite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
  color: var(--primary-100);
  background: var(--primary-10);
  border-radius: 52px;
  box-shadow: 0 -4px 17px 0 var(--secondary-10) inset, 0 4px 15px 0 var(--transparency-100);
}
.ctagetfundedwhite:hover {
  color: var(--primary-100);
  background: var(--primary-60);
}
.sociallinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-top: 12px;
}
.sociallinks img {
  width: 32px;
  height: 32px;
}
.pagetext {
  width: 100%;
  margin-bottom: 36px;
  padding: 12px;
  padding-bottom: 36px;
}
.pagetext h1 {
  margin-bottom: 36px;
}
.pagetext h2 {
  margin: 24px 0;
}
.pagetext hr {
  margin-top: 8px;
}
.pagetext p, .pagetext ul {
  padding-bottom: 16px;
  color: var(--primary-70);
  line-height: 1.4em;
}
.pagetext ul {
  margin-left: 28px;
  list-style: disc;
}
.pagetext ol {
  margin-left: 24px;
  padding-bottom: 12px;
}
.pagetext ul li ul {
  padding-bottom: 4px;
  list-style: circle;
}
.pagetext img {
  display: block;
  width: 80%;
  height: auto;
  margin: 20px auto;
}
.homehero {
  width: 100%;
  margin-bottom: 36px;
  padding: 12px;
  padding-bottom: 36px;
  padding-top: 24px;
  background-image: url('../img/bg-home-hero.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homehero h1 {
  font-size: 32px;
  letter-spacing: -2.5px;
}
.homehero .subheader {
  padding: 12px 16px;
  color: var(--primary-65);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -.2px;
}
.homehero .producttypes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 0;
}
.homehero .producttypes a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  color: var(--primary-10);
  background: var(--transparency-05);
  border: var(--border);
  border-color: var(--transparency-10);
  border-radius: 84px;
  font-size: 12px;
  white-space: nowrap;
}
.homehero .producttypes a::before {
  content: "";
  display: inline-flex;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-image: url('../img/icon-product-type-1-step.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.homehero .producttypes a.type-1step::before {
  background-image: url('../img/icon-product-type-1-step.svg');
}
.homehero .producttypes a.type-2step::before {
  background-image: url('../img/icon-product-type-2-step.svg');
}
.homehero .producttypes a.type-if::before {
  background-image: url('../img/icon-product-type-if.svg');
}
.homehero .ctarow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding: 20px 0;
}
.homehero .ctarow a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 340px;
  height: 40px;
  border-radius: 58px;
  font-weight: 600;
  letter-spacing: -.5px;
}
a.fundedbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--primary-100);
  background: radial-gradient(60% 60% at 50% 97.14%, var(--primary-10) 0, var(--transparency-00) 100%), var(--secondary-100);
  border-image-source: radial-gradient(50% 122.83% at 50% 96.55%, var(--transparency-15) 0, var(--transparency-00) 100%);
  border-image-slice: 1;
  border-radius: 58px;
  font-weight: 700;
  letter-spacing: -.5px;
}
.homehero .ctarow a.discordbtn {
  color: var(--primary-10);
  background-color: var(--primary-35);
}
.homehero .ctarow a.fundedbtn {
  font-size: 18px;
  font-weight: 700;
}
a.discordbtn::before {
  content: "";
  display: inline-flex;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('../img/icon-discord.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.comparison {
  display: flex;
  margin: auto;
  margin-top: 40px;
  font-size: 14px;
}
.comparison > div {
  flex-grow: 1;
  flex-basis: 30%;
}
.comparison .leftside ul, .comparison .rightside ul {
  padding: 12px 0;
  color: var(--primary-70);
  background: var(--primary-90);
  border: 1px solid var(--transparency-10);
}
.comparison .leftside ul {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.comparison .rightside ul {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.comparison .leftside h3, .comparison .rightside h3 {
  margin-bottom: 8px;
  color: var(--primary-70);
  font-size: 20px;
}
.comparison .leftside h3 {
  text-align: right;
  margin-right: 16px;
}
.comparison .rightside h3 {
  text-align: left;
  margin-left: 16px;
}
.comparison .featured {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  margin-bottom: -16px;
  background: var(--primary-10);
  border-style: solid;
  border-width: 10px 4px 4px 4px;
  border-color: var(--secondary-100);
  border-radius: 18px;
}
.comparison .featured ul {
  padding: 12px 0;
  color: var(--primary-10);
  background: var(--primary-80);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
.comparison .featured .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 12px;
}
.comparison .featured .logo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.comparison ul li {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, var(--transparency-100) 0, var(--transparency-10) 50%, var(--transparency-100) 100%);
  border-image-slice: 1;
  font-weight: 600;
}
.comparison ul li:last-child {
  border: 0;
}
.comparison ul li img {
  height: 20px;
  width: auto;
  margin: 0 10px;
}
.comparison .fundedbtn {
  width: 100%;
  height: 53px;
}
.featuresscroll {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
  width: 100%;
  margin: 12px 0;
  overflow: hidden;
}
.featuresscroll > div {
  display: flex;
  align-items: center;
  gap: 13px;
  height: 50px;
  padding: 14px 12px;
  background-color: var(--primary-50);
  border-radius: 11px;
}
.featuresscroll > div > p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -.5px;
  white-space: nowrap;
}
#latestupdate {
  margin-bottom: 0;
}
.latestupdate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 12px;
  text-align: center;
  border-radius: 24px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, var(--secondary-00) 5%, var(--primary-100) 80%) padding-box, radial-gradient(41% 58% at 7.5% 2.5%, var(--secondary-100) 0, var(--transparency-10) 100%) border-box;
}
.latestupdate img {
  display: none;
  width: 137px;
  height: auto;
  margin-bottom: 12px;
}
.latestupdate .pretitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 8px 16px;
  color: var(--secondary-100);
  background: var(--transparency-05);
  border: 1px solid var(--transparency-80);
  border-radius: 84px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -.5px;
}
.latestupdate h2 {
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  margin-bottom: 8px;
  color: var(--transparency-55);
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -.3px;
}
.latestupdate h2 strong {
  color: var(--primary-10);
  font-weight: 600;
  line-height: 32px;
}
.latestupdate h2 .dash {
  display: none;
}
.latestupdate .feature {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 40px;
  margin: 4px auto;
  background: var(--transparency-10);
  border-radius: 34px;
  font-size: 16px;
  letter-spacing: -.4px;
}
.latestupdate p {
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
}
.latestupdate .ctarow {
  width: 100%;
  max-width: 405px;
  min-width: 180px;
}
.latestupdate .fundedbtn {
  width: 100%;
  margin: 0 auto;
  color: var(--primary-100);
  background-color: var(--primary-10);
  font-size: 14px;
  text-shadow: unset;
}
#realpayouts {
  margin-bottom: 0;
}
#realpayouts > h2 {
  margin-bottom: 8px;
}
#realpayouts > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
}
.payoutsscroll {
  width: 100%;
  height: 75px;
  margin: 6px 0;
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(to right, transparent 0, var(--primary-100) 10%, var(--primary-100) 90%, transparent 100%);
}
.payoutsscroll .payouttrack {
  display: flex;
  align-items: center;
  gap: 6px;
  width: max-content;
  animation: payout-scroll 50s linear infinite;
  will-change: transform;
}
.payoutsscroll.right .payouttrack {
  animation-direction: reverse;
}
.payoutsscroll:hover .payouttrack {
  animation-play-state: paused;
}
@keyframes payout-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.payoutsscroll .payouttrack > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  height: 75px;
  min-width: 175px;
  padding: 4px;
  background-color: var(--primary-50);
  border: .5px solid var(--transparency-60);
  border-radius: 8px;
}
.payoutsscroll .payouttrack > div > img {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 0;
}
.payoutsscroll .payouttrack > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -.5px;
}
.payoutsscroll .payouttrack > div > div span {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
.payoutsscroll .amount {
  font-size: 16px;
  font-weight: 700;
}
.payoutsscroll .name {
  height: 12px;
  color: var(--primary-70);
  font-size: 9px;
  letter-spacing: -.3px;
}
.payoutsscroll > div > div img {
  display: inline;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  margin-bottom: 22px;
}
.payoutsscroll .name img {
  border-radius: 50%;
}
.payoutstotal {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  color: var(--secondary-100);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.5px;
}
.payoutstotal > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.payoutstotal .right {
  text-align: right;
}
.payoutstotal > div strong {
  color: var(--primary-10);
  font-size: 20px;
}
#firstpayout {
  margin-bottom: 0;
}
.firstpayout h2 {
  margin-bottom: 36px;
  text-align: left;
}
.firstpayout > div > div {
  padding-left: 50px;
  background: url('../img/bg-payout-steps.webp');
  background-repeat: no-repeat;
  background-size: auto 84px;
  background-position: -4px center;
}
.firstpayout h3 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.8px;
}
.firstpayout p {
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: -.8px;
}
.firstpayout .ctarow {
  margin: 24px auto;
  padding: 0;
  background: none;
  max-width: 222px;
}
.firstpayout .videobox {
  position: relative;
  padding: 1px;
  background: var(--secondary-100);
  border-radius: 12px;
  border: 3px solid var(--primary-70);
  overflow: hidden;
}
.video-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  z-index: 10;
}
.playing .video-thumb {
  display: none;
}
.video-thumb img {
  width: 100% !important;
  margin: 0;
  object-fit: cover;
}
.videobox iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border-radius: 12px;
}
#interviews {
  margin-bottom: 18px;
  padding-bottom: 0;
}
.interviewbox {
  width: 100%;
  margin-top: 30px;
  padding: 34px 16px;
  background: url('../img/bg-interview-card.webp') no-repeat left top / auto, linear-gradient(180deg, var(--secondary-100) 0, var(--secondary-90) 100%);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 0 6px var(--transparency-25);
}
.interviewbox .intervienav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 12px;
  background: var(--transparency-100);
  border-radius: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.interviewbox .intervienav .pointer {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--primary-10);
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
}
.interviewbox .intervienav .pointer:hover {
  transform: scale(1.2);
}
.interviewbox .intervienav .pointer.active {
  opacity: 1;
  background-color: var(--primary-10);
}
.interviewbox .intervienav .prevarrow, .interviewbox .intervienav .nextarrow {
  display: block;
  margin-top: -3px;
  padding: 0 6px;
  color: var(--primary-10);
  cursor: pointer;
}
.interview-window {
  width: 100%;
  overflow: hidden;
}
.interview-track {
  display: flex;
  width: 100%;
  transition: transform .5s ease-in-out;
}
.interviewcard {
  min-width: 100%;
}
.interviewbox .name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 12px auto;
  color: var(--primary-100);
  font-size: 20px;
  letter-spacing: -.5px;
}
.interviewbox .name img {
  display: inline;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 50%;
}
.interviewbox .text {
  color: var(--primary-100);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -.6px;
  text-align: center;
}
.interviewbox .videobox {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 4px auto;
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 0;
  border: 3px solid var(--transparency-10);
  border-radius: 18px;
  box-shadow: 0 0 0 6px var(--transparency-25);
  overflow: hidden;
}
.interviewbox .videobox img {
  width: 100%;
}
.interviewbox .fundedbtn {
  width: 220px;
  height: 56px;
  margin: 24px auto;
  color: var(--primary-100);
  background-color: var(--primary-10);
  text-shadow: unset;
}
#latestpayouts {
  margin-bottom: 0;
  padding-bottom: 0;
}
.latestpayoutscroll {
  width: 100%;
  height: 48px;
  margin: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(to right, transparent 0, var(--primary-100) 10%, var(--primary-100) 90%, transparent 100%);
}
.latestpayoutscroll .payouttrack {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  animation: payout-scroll 40s linear infinite;
  will-change: transform;
}
.latestpayoutscroll .payouttrack > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 238px;
  height: 100%;
  padding: 12px;
  color: var(--primary-100);
  background: var(--primary-10);
  border-radius: 9px;
  font-weight: 500;
}
.latestpayoutscroll span {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
.latestpayoutscroll img {
  width: 24px;
  height: 24px;
  margin: 0 12px;
  border-radius: 50%;
}
.youtubelinkbox {
  margin-bottom: 30px;
}
.youtubebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 294px;
  margin: 0 auto;
  color: #ff222f;
  background: var(--primary-10);
  border-radius: 58px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -.5px;
}
.youtubebtn::before {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background-image: url('../img/icon-youtube-red.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.youtubebtn:hover {
  color: #ff222f;
  background: var(--primary-60);
}
#tradingplatforms {
  margin-bottom: 0;
}
.tradingplatforms {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tradingplatforms > div {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 100%;
  padding: 30px 18px;
  background-color: var(--secondary-00);
  border-radius: 24px;
}
.tradingplatforms img {
  width: 170px;
  height: auto;
  margin: 0;
}
.tradingplatforms h3 {
  margin: 0;
  margin-top: auto;
  margin-bottom: 12px;
  font-size: 32px;
}
.tradingplatforms p {
  padding: 0;
  font-size: 14px;
}
.tradingplatforms .platformmt5 {
  background-image: url('../img/bg-platforms-grid.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
#phasecards {
  margin-top: 24px;
  margin-bottom: 0;
}
.phasecards {
  display: flex;
  gap: 24px;
  height: 670px;
  margin: 0 auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.phasecards::-webkit-scrollbar {
  display: none;
}
.phasecards > div {
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 24px;
  color: var(--primary-10);
  background-image: url('../img/bg-phase-grid.webp');
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 0 -100px;
  background-color: var(--secondary-00);
  border-radius: 24px;
}
.phasecards > div > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 310px;
  height: 100%;
}
.phasecards h3 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
}
.phasecards p {
  color: var(--primary-65);
  font-size: 14px;
  line-height: 18px;
}
.phasecards img {
  width: 260px;
  height: auto;
  margin: 0 auto;
}
.phasecards .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: fit-content;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 0 24px;
  color: var(--primary-100);
  background: var(--primary-10);
  border-radius: 58px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -.2px;
}
.phasecards .pretitle {
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 8px 14px;
  background: var(--transparency-10);
  border: 1px solid var(--transparency-05);
  border-radius: 84px;
  font-size: 14px;
  letter-spacing: -.5px;
}
.phasecards .pretitle::before {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url('../img/icon-phase-pretitle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#calculator {
  margin-bottom: 0;
  padding-bottom: 0;
}
.calculatebox {
  margin-bottom: 70px;
}
.calculatebox h2 {
  text-align: left;
}
.calculatebox p {
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
}
.calculatebox .fundedbtn {
  width: 270px;
  height: 56px;
  margin: 24px auto;
  color: var(--primary-100);
  background-color: var(--primary-10);
  text-shadow: unset;
}
.calculatebox .calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px;
  color: var(--primary-100);
  background-image: url('../img/bg-calculator-grid.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-100);
  border: var(--border);
  border-color: var(--transparency-60);
  border-radius: 17px;
  text-align: center;
}
.calculatebox .inputs {
  width: 100%;
  padding: 16px;
}
.calculatebox label {
  margin-bottom: 8px;
  color: var(--primary-70);
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -.6px;
}
.calculatebox .inputs input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, var(--primary-10) 0, var(--primary-10) var(--percent, 50%), var(--transparency-100) var(--percent, 50%), var(--transparency-100) 100%);
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
}
.calculatebox .inputs input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: var(--secondary-100);
  border: 1px solid var(--primary-10);
  border-radius: 50%;
  box-shadow: 0 2px 6px var(--transparency-90);
}
.calculatebox .inputs .slidervalue {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
}
.calculatebox .inputs .sliderlabels {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  color: var(--primary-70);
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
}
.calculatebox .results {
  width: 100%;
  padding: 11px;
  border-radius: 13px;
  background: var(--primary-10);
}
.calculatebox .results label {
  font-size: 14px;
}
.calculatebox .results .sliderresult {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: -1px;
}
.blueprintbox {
  margin-top: 24px;
  margin-bottom: 12px;
  background: url('../img/bg-phase-grid.webp') no-repeat left top / auto, linear-gradient(270deg, var(--transparency-00) 20%, var(--transparency-60) 80%);
  border-radius: 20px;
  text-align: center;
  border: 1px solid;
  border-image-source: radial-gradient(44% 47% at 53% 3%, var(--secondary-100) 0, var(--transparency-00) 71%);
  border-image-slice: 1;
}
.blueprintbox .greenheading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  padding: 8px 24px;
  color: var(--secondary-80);
  border: 1px solid var(--secondary-80);
  border-radius: 25px;
  box-shadow: 0 0 4px 5px var(--transparency-80) inset;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.blueprintbox .greenheading::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background: var(--primary-10);
  border-radius: 50%;
}
.blueprintbox .logo img {
  width: 190px;
  height: auto;
}
.blueprintbox .boxwrapper {
  padding: 32px 16px;
}
.blueprintbox .boxwrapper .fundedbtn {
  color: var(--primary-100);
  background-color: var(--primary-10);
  text-shadow: unset;
}
.blueprintbox .boxwrapper h2 {
  font-size: 32px;
  letter-spacing: -.4px;
}
.blueprintbox .boxwrapper p {
  margin-bottom: 24px;
  font-size: 15px;
  letter-spacing: -.4px;
}
.blueprintbox .blueprintimage img {
  width: 100%;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.featurewrapperbox {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.featurewrapperbox .featurebox {
  flex: 1 1 250px;
  padding: 26px 10px;
  background: var(--secondary-00);
  border-radius: 20px;
  border: 1px solid;
  border-image-source: radial-gradient(44% 47% at 53% 3%, var(--secondary-100) 0, var(--transparency-00) 71%);
  border-image-slice: 1;
}
.featurewrapperbox h3 {
  margin-left: 24px;
}
.featurewrapperbox ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: left;
}
.featurewrapperbox ul li {
  display: inline-flex;
  align-items: center;
}
.featurewrapperbox ul li::before {
  flex: 0 0 14px;
  align-self: flex-start;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-right: 6px;
  background-image: url('../img/icon-blueprint-features.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#contactoptions {
}
.contactoptions {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.contactoptions > div {
  flex: 1 1 45%;
  width: 100%;
  min-width: 280px;
}
.contactoptions .contactdiscord, .contactoptions .contactyoutube {
  display: flex;
  flex-direction: column;
  padding: 22px 18px;
  border-radius: 28px;
}
.contactoptions .contactdiscord {
  background: url('../img/image-contact-discord.webp') top 40px right / 130px no-repeat, url('../img/bg-contact-options.webp') center / cover no-repeat, var(--secondary-00);
}
.contactoptions .contactyoutube {
  background: url('../img/image-contact-youtube.webp') top 40px right / 130px no-repeat, url('../img/bg-contact-options.webp') center / cover no-repeat, var(--secondary-00);
}
.contactoptions .contactdiscord {
  height: 224px;
}
.contactoptions .contactyoutube {
  height: 256px;
}
.contactoptions .contactdiscord p, .contactoptions .contactyoutube p {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}
.contactoptions .contactdiscord p strong, .contactoptions .contactyoutube p strong {
  color: var(--primary-10);
  font-weight: 500;
}
.contactoptions .contactdiscord p strong {
  font-size: 36px;
  line-height: 42px;
}
.contactoptions .contactyoutube p strong {
  font-size: 64px;
  line-height: 72px;
}
.contactoptions .contactdiscord a, .contactoptions .contactyoutube a {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin-left: 0;
  padding: 0 20px;
  margin-top: auto;
  white-space: nowrap;
  border-radius: 57px;
}
.contactoptions .contactdiscord a {
  background: #6160fe;
  color: var(--primary-10);
}
.contactoptions .contactmembers {
  display: flex;
  height: 300px;
  background-image: url('../img/bg-contact-options-team.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 22px 18px;
  border-radius: 28px;
}
.contactoptions .contactmembers p {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 0;
  color: var(--primary-10);
  font-size: 16px;
  font-weight: 500;
}
.contactoptions .contactmembers p strong {
  font-size: 36px;
  font-weight: 500;
}
.contactoptions .contactsupport .onlinestatus {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  color: #00c951;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
}
.contactoptions .contactsupport .onlinestatus::before {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  margin-right: 12px;
  background: #00c951;
  border-radius: 50%;
}
.contactoptions .contactsupport > p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-65);
}
.contactoptions .contactsupport > p strong {
  margin-bottom: 12px;
  color: var(--primary-10);
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -2px;
}
.contactoptions .contactsupport a {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  padding: 0 24px;
  height: 50px;
  color: var(--primary-10);
  border-radius: 57px;
  font-size: 16px;
  font-weight: 600;
}
.contactoptions .contactsupport a.intercomchat {
  border: 1px solid #0975e5;
}
.contactoptions .contactsupport a.intercomchat::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background-image: url('../img/icon-support-chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contactoptions .contactsupport a.whatsappbtn {
  border: 1px solid #34dc8e;
}
.contactoptions .contactsupport a.whatsappbtn::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background-image: url('../img/icon-support-whatsapp.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contactoptions .contactsupport .contactemail {
  margin-top: 8px;
}
.contactoptions .contactsupport .contactemail .label {
  padding-bottom: 8px;
}
.contactoptions .contactsupport .contactemail .value a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid var(--transparency-05);
  border-radius: 12px;
}
.faqwrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  max-width: 800px;
  margin: 10px auto;
}
.faqwrapper .faqbox {
  padding: 12px 12px;
  background: var(--primary-20);
  border-radius: 16px;
  border: var(--border);
  border-color: var(--transparency-05);
  cursor: pointer;
}
.faqwrapper .faqbox h4 {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}
.faqwrapper .faqbox h4::before {
  content: ' + ';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  margin-right: 12px;
  margin-top: -4px;
  height: 24px;
  font-size: 30px;
}
.faqwrapper .faqbox p {
  max-height: 0;
  padding-left: 34px;
  padding-bottom: 0;
  font-size: 14px;
  letter-spacing: -.8px;
  overflow: hidden;
}
.faqwrapper .faqbox.active h4::before {
  content: ' - ';
}
.faqwrapper .faqbox.active p {
  max-height: 200px;
}
#comparison {
}
.otherscomparison {
  margin-bottom: 60px;
}
#comparison > h2 {
  margin-bottom: 8px;
}
#comparison > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}
.othercomparison .comparison {
  min-width: 800px;
}
.otherscomparison ul {
  margin-left: unset;
}
.otherscomparison .comparison .logo {
  padding: 0 12px;
}
.otherscomparison .leftside ul li {
  justify-content: right;
  text-align: right;
}
.otherscomparison .leftside, .otherscomparison .rightside {
  padding-top: 12px;
}
.otherscomparison .comparison ul li {
  height: 60px;
}
.otherscomparison .comparison .item {
  display: flex;
  flex-direction: column;
  line-height: 16px;
}
.comparison .subtext {
  color: var(--secondary-80);
  font-size: 12px;
  line-height: 12px;
}
#challengetypes {
  margin-bottom: 0;
}
.challengeselector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 8px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid var(--transparency-10);
  border-radius: 24px;
}
.challengeselector .program {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 49px;
}
.challengeselector .program:hover {
  background: var(--secondary-100);
  color: var(--primary-100);
}
.challengeselector .program.active {
  background: var(--secondary-80);
  color: var(--primary-100);
}
.productscroll {
  display: none;
}
.productscroll.active {
  display: flex;
}
.productscroll .labels {
  display: none;
}
.products {
  display: flex;
  gap: 12px;
  padding-top: 24px;
  white-space: nowrap;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.products::-webkit-scrollbar {
  display: none;
}
.products .product {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 10px;
  background: linear-gradient(180deg, var(--primary-45) 0, var(--transparency-100) 100%);
  border: 1px solid var(--primary-30);
  border-radius: 31px;
}
.products .product.suggested {
  order: -1;
  background: linear-gradient(180deg, var(--transparency-90) 0, var(--transparency-100) 100%);
  border-color: var(--transparency-80);
}
.products .product.suggested::before {
  position: absolute;
  top: -18px;
  left: 80px;
  content: 'Best Value';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  padding-left: 32px;
  background: var(--secondary-100);
  color: var(--primary-100);
  border-radius: 24px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -.2px;
  transform: rotate(-4deg);
  outline: 1px solid transparent;
  backface-visibility: hidden;
  background-image: url('../img/icon-product-best.svg');
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: auto 13px;
}
.products .product .heading {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--transparency-10);
}
.products .product .heading h3 {
  margin: 10px auto;
  font-size: 36px;
  font-weight: 600;
}
.products .product .heading p {
  padding-bottom: 0;
  font-size: 16px;
}
.products .product .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px;
  text-align: center;
}
.products .product .price .fundedbtn {
  width: 100%;
  border: 3px solid var(--transparency-100);
  background: var(--primary-10);
  color: var(--primary-100);
  font-size: 14px;
  font-weight: 700;
  background: var(--secondary-80);
  border-radius: 18px;
  box-shadow: 0 -3.76px 17.09px 0 var(--secondary-10) inset;
}
.products .product .price .fundedbtn:hover {
  background: var(--secondary-100);
  box-shadow: unset;
  border-color: var(--secondary-10);
  font-size: 15px;
}
.products .product .price .original {
  color: var(--primary-70);
  font-size: 22px;
  font-weight: 600;
  text-decoration: line-through;
  text-decoration-color: var(--secondary-100);
  text-decoration-thickness: 3px;
  letter-spacing: -2.5px;
}
.products .product .price .discounted {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
}
.products .product .price .subtext {
  display: block;
  color: var(--primary-70);
  font-size: 16px;
  font-weight: 400;
}
.products .product .rulelabels {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 28px 0;
  border-top: 1px solid var(--transparency-10);
}
.productscroll .rulelabels .label {
  display: inline-flex;
  align-items: center;
}
.productscroll .rulelabels .profit::before, .productscroll .rulelabels .dayloss::before, .productscroll .rulelabels .maxloss::before, .productscroll .rulelabels .maxrisk::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url('../img/icon-product-target.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.productscroll .rulelabels .mindays::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url('../img/icon-product-days.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products .product .rulelabels li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: -1px;
}
.products .product .rulelabels li .value {
  display: inline-flex;
  flex-direction: column;
  color: var(--primary-10);
  text-align: right;
  line-height: 16px;
}
.products .product .rulelabels li .value .subtext {
  display: block;
  color: var(--primary-70);
  font-size: 12px;
}
.products .product .reward {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: auto;
  padding: 6px;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: -1px;
  color: var(--secondary-10);
}
.products .product .reward strong {
  color: var(--secondary-100);
  font-weight: 600;
  letter-spacing: -.5px;
}
#firsthchallenge {
  margin-bottom: 0;
}
.firstchallenge {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  background-image: linear-gradient(to bottom,transparent 75%,var(--transparency-80) 85%,var(--secondary-90) 100%);
  border: 3px solid var(--secondary-100);
  border-radius: 18px;
}
.firstchallenge h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.5px;
}
.firstchallenge h2 strong {
  font-weight: 700;
  white-space: nowrap;
}
.firstchallenge h2 .dash {
  display: none;
}
.firstchallenge p {
  text-align: center;
}
.firstchallenge img {
  display: none;
}
.firstchallenge .promobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px dashed var(--primary-60);
  border-radius: 57px;
}
.firstchallenge .promobox .value {
  padding-left: 8px;
  color: var(--primary-10);
  font-size: 18px;
  font-weight: 600;
}
.firstchallenge .promobox .copybtn {
  padding: 8px 14px;
  background: var(--primary-10);
  color: var(--primary-100);
  border: 0;
  border-radius: 58px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.firstchallenge .fundedbtn {
  background: var(--primary-10);
  color: var(--primary-100);
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  z-index: 3;
}
.play-button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-left: 5px;
}
.videobox:hover .play-button {
  background: rgba(255, 255, 255, .4);
  transform: translate(-50%, -50%) scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
#omnisend-form-container *, 
.omnisend-form-container *,
.omnisend-form *,
.omnisend-form input, 
.omnisend-form button, 
.omnisend-form select {
	font-family: 'Inter' !important;
}
#tradingtools p {
	max-width: 680px;
	margin: 0 auto;
	text-align: center;
	line-height: 27px;
}
#tradingtools .widget {
	margin-top: 60px;
	padding: 12px;
	overflow: hidden;
	background: var(--primary-95);
	border: 1px solid var(--transparency-05);
	border-radius: 16px;
	box-shadow: 0 0 40px var(--transparency-60);
}
#ft-calendar-widget {
	width: 100%;
	border: none;
}
#howtousetools > p {
	margin: 12px auto;
	max-width: 1200px;
}
#howtousetools .faqwrapper {
	max-width: 1200px;
	border-bottom: 1px solid var(--transparency-10);
}
#howtousetools .faqwrapper .faqbox {
	background: none;
	border: none;
	border-top: 1px solid var(--transparency-10);
	border-radius: 0;
}
#howtousetools .faqwrapper .faqbox > div {
	max-height: 0px;
	overflow: hidden;
}
#howtousetools .faqwrapper .faqbox.active > div {
	max-height: 500px;
}
#howtousetools .faqwrapper .faqbox h4 {
	gap: 12px;
	width: 100%;
}
#howtousetools .faqwrapper .faqbox h4::before {
	display: none;
}
#howtousetools .faqwrapper .faqbox h4::after {
	content: ' + ';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	margin-left: auto;
	margin-top: -4px;
	height: 24px;
	color: var(--primary-70);
	font-size: 22px;
}
#howtousetools .faqwrapper .faqbox.active h4::after {
	content: ' - ';
}
#howtousetools .faqwrapper .faqbox p {
	max-height: unset;
	padding-left: 0;
	padding-bottom: 8px;
	font-size: 16px;
	line-height: 27px;
}
#howtousetools .faqwrapper .faqbox ul {
	margin-left: 18px;
	list-style: none;
	font-size: 16px;
	line-height: 27px;
}
#howtousetools .faqwrapper .faqbox ul li {
	padding-bottom: 8px;
}